<head></head>
    <title>profile</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    </style>
</head>

<style>
  body {
      width: 100vw;
      height: 100vh;
      color: rgb(255, 255, 255);
      background: rgb(40,40,40);
  }

  form {
      width: 500px;
  }
  input {
      background: transparent !important;
      border: none !important;
      box-shadow: none !important;
      transform: translateY(-2px) translateX(2px);
      font-size: 18px !important;
  }

  label {
      font-size: 14px;
  }

  button {
      height: 50px;
  }

  .costum-input {
      background: rgb(50,50,50) !important;
  }
</style>

<body>
  <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel rounded shadow">
                <div class="panel-body">
                    <div class="inner-all">
                        <ul class="list-unstyled">
                            <li class="text-center">
                                <img class="img-circle img-responsive img-bordered-primary img-fluid" src="https://c8.alamy.com/comp/P9MYWR/man-avatar-profile-P9MYWR.jpg" alt="User">
                            </li>
                            <li class="text-center">
                                <h4 class="text-capitalize">User</h4>
                                <p class="text-muted text-capitalize">User</p>
                            </li>
                            <li>
                                <a href="" class="btn btn-success text-center btn-block">Become Moderator</a>
                            </li>
                            <li><br></li>
                            <li>
                                <div class="btn-group-vertical btn-block">
                                    <a href="" class="btn btn-Secondary"><i class="pull-right"></i>Edit Account</a>
                                    <a href="" class="btn btn-Secondary"><i class="pull-right"></i>Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 inner-all">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="pills-profil-tab" data-toggle="pill" href="#pills-profil" role="tab" aria-controls="pills-profil" aria-selected="true">Profil</a>
              
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-tread-tab" data-toggle="pill" href="#pills-tread" role="tab" aria-controls="pills-tread" aria-selected="false">Tråder</a>
              
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="pills-kommentar-tab" data-toggle="pill" href="#pills-kommentar" role="tab" aria-controls="pills-kommentar" aria-selected="false">Kommentarer</a>
             
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-profil" role="tabpanel" aria-labelledby="pills-profil-tab">...</div>
            <div class="tab-pane fade" id="pills-tread" role="tabpanel" aria-labelledby="pills-tread-tab">...</div>
            <div class="tab-pane fade" id="pills-kommentar" role="tabpanel" aria-labelledby="pills-kommentar-tab">...</div>
          </div>
      </div>
      </li>
      </div>
</div>
</div>
      



  </body>
